<div class="navbar navbar-inverse navbar-fixed-top">

    <div style="padding: 10px 0 5px 40px; text-align:left; ">
        <span>
            <label style="color:#000000; width:150px; display:inline-block; text-align:right; " for="name">Elemento:</label>
            <select id="cmbElemento" style="font-family: Open Sans; font-size: 10pt; background-color:#F0F0F0;" class="form-control" width="200">
                <option value="0">Seleccione un Elemento</option>
                <option value="1">Organigramas</option>
                <option value="2">Grupos</option>
                <option value="3">Usuarios</option>
            </select>

        </span>

        <span>
            <label style="color:#000000; width:150px; display:inline-block; text-align:right; " for="name" id="LabelOG">Organigramas:</label>
            <select id="cmbOrganigramas" style="font-family: Open Sans; font-size: 10pt; background-color:#F0F0F0;" class="form-control" width="200"></select>
            <input style="font-family: Open Sans; font-size: 10pt; background-color:#F0F0F0" width="200" id="nuevoOrganigrama" value="" onkeyup="FormatearControl(this)" />
            <button style="width:108px;" id="create"><strong>Crear</strong></button>
            <button style="width:108px;" id="back"><strong>Regresar</strong></button>

        </span>

        <span>
            <label style="color:#000000; width:150px; display:inline-block; text-align:right; " for="name" id="LabelGrupo">Grupos:</label>
            <select id="cmbGrupos" style="font-family: Open Sans; font-size: 10pt; background-color:#F0F0F0;" class="form-control" width="200"></select>
            <input style="font-family: Open Sans; font-size: 10pt; background-color:#F0F0F0" width="200" id="nuevoGrupo" value="" onkeyup="FormatearControl(this)" />
            <button style="width:108px;" id="createG"><strong>Crear</strong></button>
        </span>

        <span>
            <label style="color:#000000; width:150px; display:inline-block; text-align:right; " for="name" id="LabelUsuario">Usuarios:</label>
            <select id="cmbUsuarios" style="font-family: Open Sans; font-size: 10pt; background-color:#F0F0F0;" class="form-control" width="200"></select>

        </span>

        <asp:HiddenField ID="hdnOrganigrama" runat="server" Value="" Visible="false">   </asp:HiddenField>
        <asp:HiddenField ID="hdnNomOrganigrama" runat="server" Value="" Visible="false">   </asp:HiddenField>


        @*<select id="cmbLlave" style="font-family: Open Sans; font-size: 10pt" class="form-control" width="200"></select>*@
    </div>

    </div>
